:root {

  /* =============== light-mode =============== */
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

  --SkyBlueCrayola: hsl(192, 100%, 67%);
  --MediumOrchid: hsl(280, 87%, 65%);

  --img-mobile_light: url(./images/bg-mobile-light.jpg);
  --img-desktop_light: url(./images/bg-desktop-light.jpg);

  --img-theme_light: url(../images/icon-moon.svg);

  /* ================ dark-mode =============== */

  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightPeriwinkle: hsl(234, 39%, 85%);
  --IndependenceGray: hsl(233, 14%, 35%);
  --White: hsl(0, 0%, 98%);
  --BlueCrayola: hsl(220, 98%, 61%);

  --IrisPurple: #6C49C6;
  --MidnightMagenta: #761C76;

  --img-mobile_dark: url(./images/bg-mobile-dark.jpg);
  --img-desktop_dark: url(./images/bg-desktop-dark.jpg);

  --img-theme_dark: url(../images/icon-sun.svg);

}

.light-theme {
--clr-bg-main: var(--LightGrayishBlue);
--clr-bg-items: var(--VeryLightGrayishBlue);
--clr-primary: var(--VeryDarkGrayishBlue);
--clr-secundary: var(--VeryLightGray);
--clr-inactive: var(--DarkGrayishBlue);
--clr-active: var(--BlueCrayola);

--clr-check-gradiant1: var(--SkyBlueCrayola);
--clr-check-gradiant2: var(--MediumOrchid);

--backg-mobile: var(--img-mobile_light);
--backg-desktop: var(--img-desktop_light);

--theme-icon: var(--img-theme_light);
}

.dark-theme {
  --clr-bg-main: var(--VeryDarkBlue);
  --clr-bg-items: var(--VeryDarkDesaturatedBlue);
  --clr-primary: var(--LightPeriwinkle);
  --clr-secundary: var(--White);
  --clr-inactive: var(--IndependenceGray);
  --clr-active: var(--BlueCrayola);
  
  --clr-check-gradiant1: var(--IrisPurple);
  --clr-check-gradiant2: var(--MidnightMagenta);
  
  --backg-mobile: var(--img-mobile_dark);
  --backg-desktop: var(--img-desktop_dark);

  --theme-icon: var(--img-theme_dark);
  }