/* ============== Color variables main ============= */

$bg-main: hsl(235, 21%, 11%);
$bg-items: hsl(235, 24%, 19%);
$text-primary: hsl(234, 39%, 85%);
$text-secundary: hsl(0, 0%, 98%);
$text-inactive: hsl(233, 14%, 35%);


$check-gradiant1: #6C49C6;
$check-gradiant2: #761C76;

$backg-img-mobile: url(./images/bg-mobile-dark.jpg);
$backg-img-desktop: url(./images/bg-desktop-dark.jpg);


