
$bg-main: hsl(233, 11%, 84%);
$bg-items: hsl(236, 33%, 92%);
$text-primary: hsl(235, 19%, 35%);
$text-secundary: hsl(0, 0%, 98%);
$text-inactive: hsl(236, 9%, 61%);



$check-gradiant1: #6C49C6;
$check-gradiant2: #761C76;



$backg-img-mobile: url(./images/bg-mobile-light.jpg);
$backg-img-desktop: url(./images/bg-desktop-light.jpg);