@import "light-theme";
@import "dark-theme";


.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;


  .tasks__open {
    order: 1;
    flex-basis: 30%;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    color: var(--clr-inactive);
    text-align: start;
    padding-left: 2rem;
    padding-right: 1rem;
    background-color: var(--clr-bg-items);
    border-radius: 0 0 0 10px;


    @include mediaViewport(desktop) {
      flex-basis: 15%;
      padding-left: 2rem;
      padding-right: 1rem;
    }
  }

  .tasks__clear { 
    order: 1;
    flex-basis: 70%;
    height: 60px;
    font-size: 1.2rem;
    color: var(--clr-inactive);
    line-height: 60px;
    text-align: end;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: var(--clr-bg-items);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 0 0 10px 0;
    
  

    @include mediaViewport(desktop) {
      order: 2;
      flex-basis: 25%; 
      padding-right: 2rem;
      padding-left: 1rem;
      cursor: pointer;
    }

    &:hover {
      color: var(--clr-primary);
    }
  }

  .filter {
    order: 2;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    background-color: var(--clr-bg-items);
    border-radius: 10px;

    @include mediaViewport(desktop) {
      order: 1;
      flex-basis: 60%;
      border-radius: 0;
      margin: 0;
    
    }

    &__option {

      border: none;
      background-color: transparent;
      color: var(--clr-inactive);
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      margin-left: 2rem;
  
      @include mediaViewport(desktop) {
        cursor: pointer;
      }
  
      &:hover {
        color: var(--clr-primary);
      }
  
      &--active {
        color: var(--clr-active);
      }
    }
  }
}