@import "./presets";
@import "./mixins";
@import "./item";
@import "./menu";
@import "light-theme";
@import "dark-theme";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg-main);
  height: 100%;
  width: 100%;
  background-image: var(--backg-mobile);
  background-repeat: no-repeat;
  background-size: contain;
 
  @include mediaViewport(desktop) {

    background-image: var(--backg-desktop);

  }

  .todo-wrapper {
    height: 100%;
    width: 340px;
    margin-top: 3rem;

    @include mediaViewport(desktop) {

      width: 550px;
      margin-top: 10rem;

    }

    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.8rem;
      margin-bottom: 3rem;


      &__title {
        font-size: 2.8rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1rem;
      }

      .theme {
        width: 32px;
        height: 32px;
        cursor: pointer;
        background-image: var(--theme-icon);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: none;
      }
    }
    .creator {
      margin-bottom: 2rem;
      border-radius: 10px;
      border: none;
    
      .new-todo {
        width: 90%;
        background-color: transparent; 
        border: none;
        font-size: 1.6rem;
        color: var(--clr-primary);
        font-family: inherit;
    
    
        &:focus {
          outline: none;
          background-color: transparent;
        }
    
        @include mediaViewport(desktop) {
          font-size: 1.8rem;
        }
      }
    }

    .todo-list {
      list-style-type: none;
      filter: drop-shadow(10px 0px 20px  rgba(0,0,0,0.1))
              drop-shadow(-10px 0px 20px  rgba(0,0,0,0.1));
    }
  }
}

.howto {
  justify-content: space-between;
  text-align: center;
  margin-top: 6rem;
  font-size: 1.6rem;
  color: var(--clr-inactive);
}